
@{
    Layout = null;
}

<div class="list-group">
    <div class="row">
        <a href="#" class="list-group-item list-group-item-action list-group-item-warning col-12"><h4>Tarefa projeto principal</h4></a>
    </div>
</div>

<div class="row" style="padding-bottom:0;">
    <h1>Projeto PA V</h1>
</div>
<hr />
<div class="list-group">
    <div class="row">
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger col-12"><h4>Tarefa subprojeto</h4></a>
    </div>
</div>