@model PersonalPlanner.Models.ProjetoViewModel

@{
    Layout = null;
}

@using (Html.BeginForm("CadastrarProjeto", "Home"))
{
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(m => m.Titulo, new { placeholder = "Projeto", @class = "form-control" })
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            @Html.DropDownListFor(m => m.ProjetoPai, Model.Projetos, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-success" style="width:100%">Gravar</button>
        </div>
    </div>
}